
fish/
jesseduffield/
omf/
nvim/session/
tmux/
nvim/autoload/plugged
latex/testFile.aux
latex/testFile.bbl
latex/testFile.blg
latex/testFile.fdb_latexmk
latex/testFile.fls
latex/testFile.log
latex/testFile.out
latex/testFile.pdf
latex/testFile.synctex.gz
latex/D-S-method
latex/D-S-method
